<!DOCTYPE html>
<html>
  <head>
    <title>Seegle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
  </head>
  <body>

    <div class="container">
      <form method="POST">
	<div class="row">
	  <h2>Query</h2>
	  <div id="custom-search-input">
            <div class="input-group col-md-12">
              <input name="query" id="queryinput" type="text" class="  search-query form-control" placeholder="Search" />
              <span class="input-group-btn">
		<button class="btn btn-danger" type="submit">
		  <a href="/results">
		    <span class=" glyphicon glyphicon-search"></span>
		  </a>
		</button>
              </span>
            </div>
	  </div>
	</div>
      </form>
    </div>
  </body>
</html>
